// Variables for the project
$base-font-size: 62.5%; // 10px base font size for easier rem calculations
$bp-tablet: 48rem; // 768px ÷ 16 = 48rem
$bp-tablet-horizontal: 64rem; // 1024px ÷ 16 = 64rem
$bp-desktop: 75rem; // 1200px ÷ 16 = 75rem
$bp-desktop-xl: 90rem; // 1440px ÷ 16 = 90rem

// Variables for fonts
$roboto-font: "Roboto", sans-serif;
